
/* Main body */
body {
  font-family: 'Lato', sans-serif; 
  font-size: 14px;
  background-color: #ffffff;
  color: #20201c;
  margin: 50px;
  padding: 10px;
}

/* Head banner */
.container {
  display: grid;
  grid-template-columns: auto;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  background: url('../img/hero.jpg');
  opacity: 80%;
  background-size: cover;
  border: 2px solid rgb(39, 36, 36);
}

/* Nav bar */
nav ul li {
  display: flex;
  display: inline;
}

nav ul li a {
  display: inline-flexbox;
  text-transform: uppercase;
  font-size: 16px;
  color: #081525;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin-inline-start: 50px;
  margin-inline-end: 50px;
}

.aside {
  display: grid;
  grid-template-rows: 30px 30px;
  justify-content: space-evenly;
  grid-gap: 25px;
}

/* Font */
#title{
  font-size: 50px;
  justify-content: center;
}
/* Main Content */
.main {
  grid-template-rows: 1020px;
}

footer {
  display: grid;
  grid-template-columns: 30px 30px;
  grid-gap: 25px;
  align-items: center;
  justify-content: center;
  background-color: rgb(210, 241, 231);
  opacity: 90%;
}

#follow-me {
  /* flex-direction: row; */
  font-size: 2em;
  text-align: center;
  padding: 1em;
}

.footer {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 2em;

}